@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto-v47-latin-600.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto-v47-latin-400.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Fira code';
  src: url('./assets/fonts/fira-code-v22-latin-600.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Fira code';
  src: url('./assets/fonts/fira-code-v22-latin-400.woff2') format('woff2');
  font-weight: 400;
}

:root {
  --header-bg: #161616;
  --project-title-clr: #ffffff;
  --label-bg: #1c1c1c;
  --label-border-clr: #2d2d2d;
  --textarea-bg: #1d1e22;

  --ui-btn-bg: #444857;
}


* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

/* ! Header styling */
header {
  height: 65px;
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.project-info-container {
  color: var(--project-title-clr);
  font-size: 1.325rem;
  display: flex;
  align-items: center;
  gap: 0.525rem;

  font-family: 'Roboto';
}

.project-info {
  img {
    cursor: pointer;
  }
}

.project-title {
  display: flex;
  align-items: center;
  gap: 0.525rem;
}

.title {
  h1 {
    margin: 0;
    font-size: 1.525rem;
    letter-spacing: 1px;
    outline: none;
  }

  input {
    display: none;
    margin: 0;
    padding: 0;
    padding-inline-end: 1rem;
    font-family: 'Roboto';
    font-size: 1.525rem;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
  }
}

.username {
  display: flex;
  gap: 0.525rem;
  align-items: center;
  position: relative;

  a {
    color: #9b9dad;
    text-decoration: none;
    font-size: 0.925rem;
  }

  a:active {
    text-decoration: underline;
  }

  a:hover {
    color: inherit;
  }
}

.username-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;
  height: 100%;
  display: none;
  place-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

form {
  background-color: #131417;
  border: 3px solid #252830;
  padding: 2rem;
  width: 500px;
  border-radius: 7px;
  display: grid;
  gap: 1.425rem;
  position: relative;
  z-index: 2;

  label,
  input,
  button {
    display: block;
    font-family: 'Roboto';
  }

  label {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-block-end: 0.5rem;
  }

  input {
    background-color: #252730;
    color: #fff;
    border: none;
    font-weight: 400;
    font-size: 1.125rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 100%;
  }

  input:focus,
  input:focus-visible {
    outline: 2px solid #0d98ca;
  }

  .form-btn-conatiner {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
  }

  button {
    background-color: var(--ui-btn-bg);
    color: #eee;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 7px 1rem 5px 1rem;
    cursor: pointer;
    transition: transform 50ms;

    &:active {
      transform: translateY(1px);
    }
  }
}

.settings {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.setting-buttons {
  height: 45px;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  background-color: var(--ui-btn-bg);
  border: none;
  padding-inline: 1rem;
  border-radius: 0.325rem;
  cursor: pointer;
  transition: transform 50ms;
  user-select: none;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    background-color: #5a5f73;
  }

  &:active {
    transform: translateY(1px);
  }
}

/* ! Editor Styling */
.editor {
  display: flex;
  width: 100%;
  height: calc(100vh - 65px);
  overflow: hidden;
}

.code-writing-area {
  flex-grow: 1;
  background-color: var(--textarea-bg);
  display: flex;
  flex-direction: column;
  min-width: 350px;
  overflow-y: auto;
}

.resizer {
  min-width: 25px;
  background-color: var(--label-bg);
  border-inline-start: 1px solid var(--label-border-clr);
  cursor: col-resize;
  display: flex;
  align-items: center;
  user-select: none;

  span {
    font-family: 'Roboto';
    color: #b1b1b1;
    transform: rotate(180deg) translateX(-2px);
    writing-mode: vertical-lr;
    transition: 200ms;
    opacity: 0;
  }

  &:hover span {
    opacity: 1;
  }
}

.html,
.css,
.js {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  display: flex;
  flex-direction: column;
}

.editor label {
  display: block;
  background-color: #1c1c1c;
  color: #aaaebc;
  font-family: 'Fira code';
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.125rem;
  padding: 0.325rem 1rem;
  border-block-start: 1px solid #2d2d2d;
  display: flex;
  align-items: center;
  gap: 0.425rem;
}

textarea {
  width: 100%;
  flex-grow: 1;
  border: none;
  resize: none;
  outline: none;

  background-color: var(--textarea-bg);
  color: #eee;
  font-family: 'Fira code';
  font-size: 1rem;
  padding-block: 0.525rem 5rem;
  padding-inline: 1rem 5rem;
}

textarea::selection {
  background: #494743a2;
}

textarea::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
  cursor: pointer;
}

textarea::-webkit-scrollbar-thumb {
  background: rgba(102, 107, 122, 0.7);
  cursor: default;
}

textarea::-webkit-scrollbar-thumb:hover{
  background-color: rgba(102, 107, 122, 0.7);
}

textarea::-webkit-scrollbar-thumb:active{
  background-color: #666b7a;
}

textarea::-webkit-scrollbar-corner {
  display: none;
}

/*! preview screen styling */
.preview-area {
  width: 70%;
  /* flex-grow: 1; */
  display: flex;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-block-start: 1px solid var(--label-border-clr);
  border-inline-start: 1px solid var(--label-border-clr);
}


/* ! utilities */
.toggle-display {
  display: grid;
}

.project-info img:hover {
  animation-name: shake-it;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  opacity: 0.7;
}

@keyframes shake-it {

  0%,
  100% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(8deg);
  }

  80% {
    transform: rotate(-10deg);
  }

}